.headerPage {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: var(--gray-1);
    z-index: 10; 
    transition: background-color 0.3s ease; 
  }

.headerContainer{
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.buttonHeaderContainer{
    border: 1px solid var(--gray-7) ;
    background-color: var(--gray-1);
    color: var(--gray-7);
    height: 60px;
    width: 266px;
    padding: 20 20 20 20;
}

.bannerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 718px;
    width: 100%;
    background-color: var(--gray-2);
}

.bannerSectionContainer{
    width: 80%;
    text-align: center;
}

.bannerTitle{
    padding-bottom: 2rem;
    font-weight: var(--title1-font-weight);
    font-size: var(--title1-font-size);
    line-height: var(--title1-font-height);
    color: var(--gray-6);
}

.bannerSpan{
    font-weight: var(--title1-font-weight);
    font-size: var(--title1-font-size);
    line-height: var(--title1-font-height);
    color: var(--brand-1);
}

.bannerParagrafo{
    padding-bottom: 2rem;
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-4);
    text-align: center;
}

.bannerButton{
    width: 124px;
    height: 60px;
    border: 1px solid var(--brand-1);
    padding: 20 32 20 32;
    background-color: var(--brand-1);
    color: var(--gray-7);
}

.bannerButton:hover{
    background-color: var(--brand-2);
    border: 1px solid var(--brand-2);
}

.infoSection{
    width: 100%;
    height: 284px;
    background-color: var(--gray-1);
}

.infoSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 80%;
}

.infoTitle{
    color: var(--gray-6);
    font-size: var(--title2-font-size);
    font-weight: var(--title2-font-weight);
    line-height: var(--title2-line-height);
}

.infoParagrafo{
    width: 580px;
    color: var(--gray-5);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
}

.faqSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-2);
    width: 100%;
    height: 1132px;
}

.faqContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: space-between;
}

.faqContainerLeftSide{
    height: 57rem;
    padding: 0px 87px 0px 0px;
    width: 620px;
}


.faqDivLeft{
    position: sticky;
    top: 160px;
    height: 18rem;
    width: 533px;
}

.faqTitle{
    padding-bottom: 2rem;
    color: var(--gray-6);
    font-size: var(--title2-font-size);
    font-weight: var(--title2-font-weight);
    line-height: var(--title2-line-height);
}

.faqParagrafo{
    padding-bottom: 2rem;
    color: var(--gray-4);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    text-align: justify;
}

.faqButton{
    color: var(--gray-7);
    background-color: var(--brand-1);
    font-weight: var(--text4-font-weight);
    font-size: var(--text4-font-size);
    line-height: var(--text4-line-height);
    border: 1px solid var(--brand-1);
    padding: 20px 32px 20px 32px;
}

.faqButton:hover{
    background-color: var(--brand-2);
    border: 1px solid var(--brand-2);
}

.faqListRightSide{
    width: 583px;
}

.faqListTitle{
    padding-bottom: 2rem;
    color: var(--gray-6);
    font-size: var(--title3-font-size);
    font-weight: var(--title3-font-weight);
    line-height: var(--title3-line-height);
    text-align: center;
}

.faqListParagrafo{
    padding-bottom: 2rem;
    text-align: justify;
    text-align: justify;
    color: var(--gray-4);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
}

.commentsSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1450px;
    background-color: var(--gray-2);
}

.commentsSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}

.rightSideContainer{
    display: flex;
    position: sticky;
    top: 160px;
    align-items: center;
    background-color: var(--brand-1);
    justify-content: center;
    order: 1;
    height: 443px;
    width: 493.6px;
    margin-left: 86.4px;
}

.rightSideDiv{
    height: 80%;
    width: 80%;
}

.rightSideTitle{
    color: var(--gray-7);
    font-size: var(--title2-font-size);
    font-weight: var(--title2-font-weight);
    line-height: var(--title2-line-height);
}

.rightSideParagrafo{
    text-align: justify;
    color: var(--gray-7);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
}

.commentsListLeftSide{
    display: flex;
    flex-direction: column;
    width: 620px;
}

.commentList{
    display: flex;
    flex-direction: row;
    height: 179px;
    width: 100%;
    padding-bottom: 2rem;
}


.commentTitle{
    width: 192px;
    color: var(--gray-6);
    font-size: var(--title3-font-size);
    font-weight: var(--title3-font-weight);
    line-height: var(--title3-line-height);

}

.commentInfo{
    width: 192px;
    color: var(--gray-4);
    font-weight: var(--text3-font-weight);
    font-size: var(--text3-font-size);
    line-height: var(--text3-line-height);

}

.commentParagrafo{
    width: 412px;
    color: var(--gray-5);
    font-weight: var(--text2-font-weight);
    font-size: var(--text2-font-size);
    line-height: var(--text2-line-height);
}


.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-1);
    height: 100px;
    width: 100%;
}

.modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  

  .modalContent {
    display: flex;
    height: 416px;
    width: 504px;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-2);
    border: 2px solid var(--brand-1);
    position: absolute; 
    top: 50%;         
    left: 50%;        
    transform: translate(-50%, -50%); 
  }

.modalContainer{
    height: 80%;
    width: 80%;
}

.headerModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    width: 100%;
}

.headerModalTitle{
    color: var(--gray-7);
    font-size: var(--title3-font-size);
    font-weight: var(--title3-font-weight);
    line-height: var(--title3-line-height);
}

.modalBody{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.modalBodyParagrafo{
    padding-top: 2.5rem;
    color: var(--gray-4);
    font-weight: var(--text3-font-weight);
    font-size: var(--text3-font-size);
    line-height: var(--text3-line-height);
}

.modalTextArea{
    background-color: var(--gray-1);
    border: 1px solid var(--gray-1);
    height: 20px;
    padding: 14px 20px 14px 20px;
    color: var(--gray-4);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
}

.modalBodyButton{
    background-color: var(--brand-1);
    border: 1px solid var(--brand-1);
    height: 40px;
    padding: 0px 32px 0px 32px;
    color: var(--gray-7);
    font-weight: var(--text4-font-weight);
    font-size: var(--text4-font-size);
    line-height: var(--text4-line-height);
}

.modal.active .headerPage {
    background-color: transparent !important; 
  }
  

  .modalCloseButton {
    background-image: url('../assets/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 32px;
    border: 1px solid var(--gray-3);
    border-radius: 4px;
    background-color: var(--gray-3);
    cursor: pointer;
  }



